/* Fonts import from Google Fonts. */

@import url(http://fonts.googleapis.com/earlyaccess/karlatamilinclined.css);
@import url(http://fonts.googleapis.com/earlyaccess/lohittamil.css);
@import url(http://fonts.googleapis.com/earlyaccess/karlatamilupright.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidsanstamil.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanstamil.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanstamilui.css);

* {
	margin: 0;
	padding: 0;

	-webkit-font-smoothing: antialiased;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::selection {
	background: #b82647;
	color: #e25b6e;
}

body {
	color: #a48d66;
	font: 14px/23px sans-serif;
}

h1, h2, h3, h4, b {
	font-weight: 300;
	font-family: sans-serif;
}
	h2 {
		font-size: 28px;
		padding-bottom: 60px;
	}
	b {
		font-weight: 500;
		font-size: 16px;

		color: #c3522f;
	}

#logo {
	position: absolute;
	left: 80px;
	top: 40px;
	z-index: 2;

	margin-left: -17px;
}

.banner {
	position: relative;
	width: 100%;
	overflow: auto;

	font-size: 18px;
	line-height: 24px;
	text-align: center;

	color: rgba(255,255,255,.6);
	text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);

	background: #2d3743;
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAADklEQVQIW2NgQAXGZHAAGioAza6+Hk0AAAAASUVORK5CYII=); 

	box-shadow: 0 1px 2px rgba(0,0,0,.25);
}


	.banner .inner {
		padding: 160px 0 110px;
	}

	.banner h1, .banner h2 {
		font-size: 30px;
		line-height: 52px;
        font-family: Droid Sans Tamil;
		color: #fff;
	}

    .banner p {
        font-family: Lohit Tamil;
    }

	
.intro {
	overflow: hidden;
	padding: 50px 0;
	background: #d6eaf8;
	box-shadow: inset 0 -1px 3px rgba(0,0,0,.03);
}

    .intro p {
        font-size: 12px;
        color: #4e667c;
    }

    .intro a {
        text-decoration:none;
        color: #2d3743;
        font-weight: bold;
    }    
    
    .intro a:hover {
        color: #6b88a3;
    }


.demo {
	padding: 40px 0;
}
	.demo h2 {
		color: #7c6853;
	}
	.demo h3 {
		padding-bottom: 8px;

		color: #7b6b53;
		font-size: 20px;
		line-height: 10px;
	}
	.demo p {
		padding-bottom: 15px;
        font-family: Verdana, Arial, serif;
	}

.font {
    overflow: hidden;
    padding: 70px 0;
    background: #fff;
    box-shadow: inset 0 -1px 3px rgba(0,0,0,.03);
    color: #354555;
}

.font-two {
    overflow: hidden;
    padding: 60px 0;
    background: #354555;
    box-shadow: inset 0 -1px 3px rgba(0,0,0,.03);
    color: #fff;
}

/* Font specifier for the Google Font Imports */

.noto p{
    font-family: Noto Sans Tamil, serif;
}

.karla p{
    font-family: Karla Tamil Inclined, serif;
}

.karla-right p{
    font-family: Karla Tamil Upright, serif;
}

.lohit p{
    font-family: Lohit Tamil, serif;
    font-size: 17px;
}

.noto-ui p{
    font-family: Noto Sans Tamil UI, serif;
}

.droid-sans p{
    font-family: Droid Sans Tamil, serif;
}


.footer {
	padding: 80px 0 60px;
	text-align: center;
    color: #354555;
}
	
	.footer a {
		margin: 0 4px;

		color: #79654e;
		text-decoration: none;
		border-bottom: 1px solid #ddd2c6;
	}
		.footer a:hover {
			color: #665139;
			border-color: #d1bfa9;
		}

.wrap {
	margin: 0 auto;
	width: 960px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 900px) {
	.wrap {
		width: 90%;
	}
	#logo {
		left: 50px;
		top: 30px;
	}

	.banner h1, .banner h2 {
		font-size: 24px;
		line-height: 30px;
	}
	.banner ul li {
		height: 260px;
	}
	.banner .inner {
		padding-top: 100px;
		padding-bottom: 50px;
	}
	.banner p {
		font-size: 15px;
		width: 80%;
		margin: 0 auto;
	}
	.intro p {
		width: 100%;
		margin-left: 10px;
		margin-bottom: 30px;
	}
	.demo li {
		width: 90%;
	}
}

